@import '~assets/stylus/variable.styl';
.order {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8;
    max-height: 410px;
    width: 100%;
    background-color: $KSub1Bg;
    &_title {
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        color: $write;
        height: 50px;
        img {
            width: 18px;
        }
    }
    &_scroll {
        max-height: 288px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &_handle {
        padding: 0 16px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: $write;
        p {
            display: flex;
            align-items: center;
            img {
                width: 18px;
                margin-left: 4px;
            }
        }
        &_r {
            width: 52px;
            height: 44px;
        }
    }
    &_form {
        min-height: 108px;
        padding: 0 16px;
        position: relative;
        .from_single {
            &_label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                color: $KSize;
                min-height: 36px;
                &.big {
                    font-size: 14px;
                    color: $write;
                    min-height: 46px;
                    .left {
                        display: flex;
                        align-items: center;
                        color: $write;
                        .icon_size {
                            font-size: 12px;
                            color: $KSize;
                            img {
                                width: 16px;
                                margin: 0 6px;
                            }
                        }
                    }
                    .selectSingle {
                        display: flex;
                        align-items: center;
                        img {
                            width: 18px;
                            transform: rotate(0);
                            transition: all 0.4s ease-out;
                            &.rotate {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
            &_cont {
                width: 100%;
                min-height: 42px;
                padding: 8px 0;
                color: $KSize;
                &_single {
                    display: flex;
                    padding: 12px 0 28px 0;
                    .left {
                        width: 100px;
                        font-size: 13px;
                        color: $write;
                        display: flex;
                        align-items: center;
                    }
                }
                .box {
                    position: relative;
                    width: 100%;
                    height: 26px;
                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 26px;
                        border: none;
                        text-align: center;
                        background-color: transparent;
                        color: $write;
                        font-size: 16px;
                    }
                    img {
                        width: 42px;
                        position: absolute;
                        top: -8px;
                        padding: 8px;
                        &.minus {
                            left: -8px;
                        }
                        &.add {
                            right: -7px;
                        }
                    }
                    &.small {
                        img {
                            width: 38px;
                            top: -6px;
                        }
                    }
                    &-size {
                        width: 100%;
                        position: absolute;
                        bottom: -20px;
                        text-align: center;
                        font-size: 12px;
                    }
                }
                .hand {
                    display: flex;
                    justify-content: space-between;
                    button {
                        width: 60px;
                        height: 26px;
                        border-radius: 16px;
                        font-size: 14px;
                        border: 1px solid #1b212d;
                        &.active {
                            color: $write;
                            background: linear-gradient(left, #2DAFFF, #2C68FC);
                        }
                    }
                    &.cash {
                        button {
                            width: 106px;
                        }
                    }
                }
            }
            &_free {
                padding: 6px;
                display: flex;
                justify-content: space-between;
                font-size: 11px;
                color: $KSize;
            }
        }
    }
    .submit_btn {
        height: 70px;
        width: 100%;
        padding: 12px 16px 0 16px;
        button {
            width: 100%;
            height: 44px;
            background-color: $green;
            color: $write;
            font-size: 16px;
            border-radius: 22px;
            &.active {
                background-color: $redBtn;
            }
        }
    }
}